*{
    margin: 0;
    padding: 0;
}
/* header section design */

.header-container{
    width: 100%;
    height: 100vh;
    background-image: url("/images/banner/banner3.png");
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header-title{
    
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 65px;
    font-weight: bold;
}

.description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px;

 }


.header-details{
    width: 100%;
    margin: 0 100px;

    
}


.btn-contact{
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin: 5px;
    padding: 15px 35px;
    background-color: rgb(255, 253, 253);
    border-radius: 5px;
}
.primary-color{
    color: rgb(1, 78, 168);
}

/* display main design */

.main-section{
    width: 100%;
    justify-content: space-between;
}

.section-top{
    display: flex;
    align-items: center;
    margin: 100px;

}
.main-title{
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.list-items{
    font-family: 'Work Sans';

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px;
}
.list-item{
    list-style: none;
   
}
.list-item:before {
    content: '\2713';
    display: inline-block;
    color: rgb(1, 163, 90);
    padding: 5px;
    margin-right: 5px;
  }
 
  /*body middle section design */


.mid-containers{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 50px 100px;

}

.mid-title{
    margin: 10px;
    padding: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: #000;
}
.mid-title-2{
    margin: 5px;
    padding: 1px;
    font-family: 'Work Sans';
    font-style: normal;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    color: #000;


 }
.mid-description{
    font-family: 'Work Sans';
    font-style: normal;
    color: rgba(115, 114, 114, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin: 20px;

 }

.section-bottom{
    width: 50%;
    padding: 50px 160px;
    background-image: url("/images/gradient1.png"), url("/images/watch.png");
    bac
    justify-content: center;
    align-items:center;
    margin: auto;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;

}
.mid-bottom-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 20px;

}
/* footer design */

.footer-container{
    width: 100%;
    background: #000;
    font-family: 'Work Sans';
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.footer-title{
    width: auto;
    font-family: 'Work Sans';
    font-style: normal;
    color: white;
    font-weight: 600;
    font-size: 34px;
    margin: 0px;
    

}

.footer-description{
    width: 70%;
    font-family: 'Work Sans';
    font-style: normal;
    color: rgb(240, 236, 236);
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0px;
 
    

 }

/* footer-container-left */


.footer-container-left{
    margin-left: 150px;
}

 .email-phone-container{
    font-family: 'Work Sans';
    font-style: normal;
    margin: 20px 0;
    
 }
 .footer-image{
    margin: 40px 0;
 }
 .gmail{
    text-decoration: none;
    color: rgb(255, 255, 255);

 }


 /* footer-container-right */

.footer-container-right{
    margin-right: 300px;
}

.email-space{
    margin: 20px 0 15px 0;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-color:aliceblue;
}

 .footer-right-btn{
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    margin: 0px;
    padding: 12px 25px;
    background-color: rgb(1, 78, 168);
    border-radius: 5px;
}

 /* the end  */